@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html { height: 100%; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: 40px auto 30px;
}

.site-header #bander { padding: 5px;}
.site-header a { text-decoration: none; }
.site-header ul { list-style-type: none; float: right; }
.site-header ul li { display: inline; }
.site-header ul li a { color: #fff; padding: 15px; }
.site-header {
    background-color: #54aed1;
    display: grid;
    grid-template-columns: [site-logo] fit-content(20%) [nav-start] auto [nav-end];
}

.site-footer {
  padding: 5px 20px;
  background-color: #77c8e9;
}

.site-container {
  background-color: #cccccc;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(2, fr1);
}
.site-container form {
  padding: 2px 5px;
  background-color: #bbb4b4;
}
.site-container button {
  border-radius: 8px;
  margin: 2px;
}
.site-container select {
  width: 300px;
  border-radius: 8px;
  margin: 2px;
}
.site-container textarea {
  border: 1px solid #000000;
  width: 99%;
  height: 90%;
}
